{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block headline_image %}
    https://cdn.pixabay.com/photo/2016/09/27/23/03/guitar-1699501_960_720.jpg
{% endblock %}
{% block headline_button %}
    <a class="btn btn-warning btn-lg px-4 me-sm-3" href="{% url 'list_artist_album' %}">My Albums</a>
{% endblock %}
{% block content  %}
    <br>
    <div class="container">
        <div class="text-center">
            <h3>Create Album</h3>
        </div>
        <form method="post" enctype="multipart/form-data">
            {{ form|crispy}}
            {% csrf_token %}
            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button class="btn btn-lg btn-success btn-block"  type="submit">Create Album</button>
            </div>
        </form>
    </div>
{% endblock %}